oceny_uczniów_XSD.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Klasy">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Klasa_A">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="uczniowie">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="uczeń" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="imię"/>
                          <xs:element type="xs:string" name="nazwisko"/>
                          <xs:element type="xs:byte" name="id_ucznia"/>
                          <xs:element type="xs:date" name="data_urodzenia"/>
                          <xs:element name="przedmioty">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="polski">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="oceny"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="angielski">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="oceny"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="matematyka">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="oceny"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="fizyka">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="oceny"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="geografia">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="oceny"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Klasa_B">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="uczniowie">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="uczeń" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="imię"/>
                          <xs:element type="xs:string" name="nazwisko"/>
                          <xs:element type="xs:byte" name="id_ucznia"/>
                          <xs:element type="xs:date" name="data_urodzenia"/>
                          <xs:element name="przedmioty">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="polski">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="oceny"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="angielski">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="oceny"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="matematyka">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="oceny"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="fizyka">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="oceny"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="geografia">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="oceny"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>